.btnpanel{
  margin: 2px;
}

.panel{
  margin: 10px;
  border: 1px solid black;
}

.input-field input:focus + label {
  color: #980af7 !important;
}

.input-field input:focus {
  border-bottom: 1px solid #980af7 !important;
  box-shadow: 0 1px 0 0 #980af7 !important
}

.list{
  box-shadow: 0 0 10px rgba(0,0,0,0.3)
}

.list-events{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin:20px 20px 20px 20px
}

.btn-panel{
  margin: 20px 0px;
  padding: 0px 10px;
}

.btn-panel-item{
  font-size: 38px;
  margin-right: 10px;
  transition: all .3s;
  cursor: default;
}

.btn-panel-item:hover{
  color: #980af7;
}

.list_students{
  max-height: 490px;
  min-height: 490px;
  overflow:auto;
  margin: 20px 0px;
}

.list_students::-webkit-scrollbar{
  width: 0;
}

.student-item{
  transition: all .3s;
  border: none;
}

.student-item:hover, .selectedItem{
  background-color: #980af7;
  color: white;
  cursor: default;
}

.btnPanel{
  color: #980af7;
  cursor: default;
}

.fltr{
  padding: 0px 18px;
}

.hide-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.hide-scroll::-webkit-scrollbar {width:0px;}

.line{
  border: none;
  background-color: #980af7;
  height: 1px;
  margin: 0px 18px;
}

.list_evnts{
  max-height: 600px;
  min-height: 600px;
  overflow:auto;
  margin: 20px 0px;
}

.list_evnts::-webkit-scrollbar{
  width: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
