<form id="form-add" class="card frm" style="margin-top: 20px;" [formGroup]="formUpd" (ngSubmit)="updStudentEvent()">
  <div class="card-content">
    <span class="card-title center-align">Изменить событие</span>
    <div class="input-field">
      <input type="date" required id="date" formControlName="date" max="{{datepipe.transform(date, 'yyyy-MM-dd')}}">
      <span class="helper-text red-text" *ngIf="formUpd.get('date')?.invalid && formUpd.get('date')?.dirty">
        <span *ngIf="formUpd.get('date')?.errors?.required">Поле необходимо заполнить</span>
      </span>
    </div>
    <mat-form-field appearance="fill" style="width: 100%">
      <label>Компания</label>
      <mat-select id="company" formControlName="company">
        <mat-option *ngFor="let company of dataCompaniesService.data" [value]="company.id">
          {{company.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="input-field">
      <label class="active" for="text">Описание</label>
      <input type="text" required id="text" formControlName="text">
      <span class="helper-text red-text" *ngIf="formUpd.get('text')?.invalid && formUpd.get('text')?.dirty">
        <span *ngIf="formUpd.get('text')?.errors?.required">Поле необходимо заполнить</span>
      </span>
    </div>
  </div>
  <div class="card-action center-align">
    <button type="submit" class="btn waves-effect waves-light" style="background-color: #980af7" [disabled]="formUpd.invalid">Изменить</button>
    <button id="btnCancel" class="btn waves-effect waves-light" style="background-color: #980af7; margin-left: 20px" (click)="cancel()">Отмена</button>
  </div>
</form>
