<div class="container">
  <div class="row">
    <div class="col">
      <div id="btn-panel" [hidden]="isHideBtnPanel" class="row btn-panel justify-content-start">
        <span class="material-icons btn-panel-item" (click)="btnPanelAdd()">add_circle_outline</span>
        <span class="material-icons btn-panel-item" (click)="btnPanelPosition()">east</span>
        <span *ngIf="selectedCompany" class="material-icons btn-panel-item" (click)="btnPanelEdit()">create</span>
        <span *ngIf="selectedCompany" class="material-icons btn-panel-item" (click)="btnPanelDelete()">remove_circle_outline</span>
      </div>
      <ng-template #formComponent></ng-template>
      <div class="list" [hidden]="isHideBtnPanel">
        <app-companieslist (onState)="onCompanyListChanged($event)"></app-companieslist>
      </div>
    </div>
    <div class="col list-events">
      <app-companiesevent [selectedCompany]="selectedCompany" [selectedCompanyEvents]="selectedCompanyEvents"></app-companiesevent>
    </div>
  </div>
</div>
