<div class="list_students" *ngIf="selectedStudent!=null">
  <p>{{selectedStudent.name}}-{{selectedStudent.spec}}-{{selectedStudent.group}}-{{selectedStudent.syear}}</p>
  <span class="material-icons btnPanel" [hidden]="isHide" (click)="btnPanelAdd()">
    add_circle_outline
  </span>
  <ng-template #frm></ng-template>
  <ul [hidden]="isHide" class="list-group">
    <li *ngFor="let e of selectedStudentEvents">
      <div class="row">
        <div class="col-1" [hidden]="isHide">
          <span class="material-icons btnPanel" (click)="btnPanelUpd(e.id)">
            create
          </span>
        </div>
        <div class="col-1" [hidden]="isHide" (click)="btnPanelDel(e.id)">
          <span class="material-icons btnPanel">
            delete
          </span>
        </div>
        <div class="col-10">
          {{e.date}},{{e.company?.name}},{{e.text}}
        </div>
      </div>
    </li>
  </ul>
</div>

