<form id="form-add" class="card frm" style="margin-top: 20px;" [formGroup]="formAdd" (ngSubmit)="addCompany()">
  <div class="card-content">
    <span class="card-title center-align">Добавить компанию</span>
    <div class="input-field">
      <label class="active" for="name">Название компании</label>
      <input type="text" required id="name" formControlName="name">
      <span class="helper-text red-text" *ngIf="formAdd.get('name')?.invalid && formAdd.get('name')?.dirty">
        <span *ngIf="formAdd.get('name')?.errors.required">Поле необходимо заполнить</span>
        <span *ngIf="formAdd.get('name')?.errors.custom">Компания с таким названием уже есть</span>
      </span>
    </div>
  </div>
  <div class="card-action center-align">
    <button type="submit" class="btn waves-effect waves-light" style="background-color: #980af7" [disabled]="formAdd.invalid">Добавить</button>
    <button id="btnCancel" class="btn waves-effect waves-light" style="background-color: #980af7; margin-left: 20px" (click)="cancel()">Отмена</button>
  </div>
</form>
